.case-study{
    width: 450px;
    margin:40px 20px;
    border-radius: 30px;
    background-color: #2025722f;
    cursor: pointer;
    position: relative;
 &:hover{
     .image-part{
         background-size: 150%;
         transition: .5s ease-in-out;
     }
 }
     .content{
         padding: 50px 10px;
     }
    .image-part{
        width: 100%;
        height: 300px;
        background-size: 140%;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
       transition: .5s ease-in-out;

       position: relative;
       .line{
        position: absolute;
        bottom: -34px;
        width: 40%;
        height: 35px;
        -webkit-clip-path: polygon(11% 48%,88% 47%,100% 100%,0 100%);
        clip-path: polygon(11% 48%,88% 47%,100% 100%,0 100%);
        margin: -2% auto auto;
        content: '';
        left: 28%;
        transition: .8s ease-in-out;
        transform: rotate(180deg);
       }

        
    }
    h2{
        font-weight: 500;
        margin: 10px 0px;
        font-size: 22px;
        color: rgba(212,214,255,.95);
    }
}
@media(max-width:980px){
    .case-study{
        width: 70%;
        margin: 20px 0px;
        .image-part{
            background-size: 120%;
            height: 200px;
        }
    }
}
@media(max-width:500px){
    .case-study{
        width: 80%;
        .content{
            padding: 50px 20px;
            h2{
                font-size: 17px;
            }
        }
    }
}