.banner-home{
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding: 250px 0px;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../../Assets/backgrounds/banner.webp);
    position: relative;
    z-index: 1;
    
   
 
    h1{
        font-size: 3rem;
        font-weight: 550;
        width: 40%;
    }
    p{
        font-size: 1.4rem;
        width: 45%;
        margin: 20px 0px;
        color: white;
    }
}
@media(max-width:1410px){
    .banner-home{
        h1,p{
            width: 65%;
        }
    }
}
@media(max-width:700px){
    .banner-home{
        h1,p{
            width: 98%;
        }
    
    }
}
@media(max-width:500px){
    .banner-home{
        padding: 200px 10px;
        padding-top: 250px;
        h1{
            font-size: 23px;
        }
        p{
            font-size: 18px;
        }
    }
}